
<footer class="">
    <div class="details">
    <div class="footer-logo">
        <img src="/public//imagens/uem.png">        
    </div>
    <div class="footer-detail">
    <hr>
    <div class="contents-footer">        
        <div class="">
            <ul class="">Seções:
                <li class="">Cadastro de usuários e clientes</li>
                <li class="">Cadastro de produtos</li>
                <li class="">Gerenciamento de estoque</li>
                <li class="">Gerenciamento de pedidos</li>
            </ul>
        </div>
        <div class="">
            <ul class="">Ferramentas utilizadas:
                <li class="">Nodejs</li>
                <li class="">Express</li>
                <li class="">Sequelize</li>
                <li class="">MariaDb / Mysql</li>
                <li class="">Nginx/Apache</li>
                <li class="">Insomnia</li>
                <li class="">Azure Devops</li>
                <li class="">Figma</li>
                <li class="">brModel</li>
                <li class="">Astah</li>
                <li class="">Google Docs</li>
                <li class="">Google Drive</li>
            </ul>
        </div>
        <div class="">
            <ul class="">Desenvolvido por:
                <li class=""><a href='mailto:ra127541@uem.br'>Andre Bueno Alves (ra127541@uem.br)</a></li>
                <li class=""><a href='mailto:ra107702@uem.br'>Leonardo Candido Martins (ra107702@uem.br)</a></li>
                <li class=""><a href='mailto:ra88257@uem.br'>Valdeir de Souza Prestes (ra88257@uem.br)</a></li>
                <li class=""><a href='mailto:ra120177@uem.br'>Victor Hugo Franciscon (ra120177@uem.br)</a></li>
                <li class=""><a href='mailto:ra117497@uem.br'>William Massashi Ito Yoshida (ra117497@uem.br)</a></li>
            </ul>
            <ul> Orientador
                <li><a href='mailto:nntjunio2@uem.br'>Prof. Nelson Tenório(nntjunio2@uem.br)</a></li>
                <li><a href='mailto:rbalancieri@uem.br'>Prof. Renato Balancieri(rbalancieri@uem.br)</a> </li></li>
            </ul>
        </div>
        
    </div>
    <hr>
    </div>
    </div>
    <div class="copyright">
        &copy; Equipe DevAssados.
    </div>
</footer>
