<nav class="menubar">
    <ul>
        <% if(permissaoatendente){ %>
            <li>Pedidos
                <ul>
                    <li><a href="/">Atender</a></li>
                    <!-- <li><a href="/atendimento/novo">Atender Novo</a></li> -->
                    <li><a href="/pedido/criar">Criar Pedido</a></li>
                </ul>
            </li>
        <% }%>
        <% if(permissaoatendente){ %>
        <li>Produtos
            <ul>
                <li><a href="/produto/criar">Criar Produto</a></li>
                <li><a href="/produto/listar/1">Listar Produto</a></li>
                <li><a href="/estoque/adicionar">Adicionar estoque</a></li>
                <li><a href="/estoque/estornar">Estornar estoque</a></li>
            </ul>
        </li>
        <% }%>
        <% if(permissaoadm){ %>
        <li> Administração
            <ul>
                <li><a href="/movimento/abrir">Abrir movimento</a></li>
                <li><a href="/movimento/fechar">Fechar movimento</a></li>
                <li><a href="/usuario/cadastrar">Criar usuário</a></li>
                <li><a href="/usuario/listar/1">Listar usuário</a></li>
                <li><a href="/categoria/criar">Criar Categoria</a></li>
                <li><a href="/categoria/listar/1">Listar Categoria</a></li>
            </ul>
        </li>
        <% }%>
        <% if(user){ %>
            <li> Conta
                <ul>
                    <li><a href="/login/logoff">Sair</a></li>
                </ul>
            </li>
        <% } else { %>
        <li><a href="/login">login</a></li>
        <% } %>
        <% if(locals.movimento){ %>
            <div class="class_movimento <%= classeavismo %>">
                <span class="class_movimento_dia "><%= movimento %></span>
                <span class="class_movimento_dia_semana "><%= movimento_dia %></span>
            </div>
        <% } %>

    </ul>
</nav>