<nav class="menubar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <% if(permissaoatendente){ %>
        <li>Produtos
            <ul>
                <li><a href="/produto/criar">Criar Produto</a></li>
                <li><a href="/produto/listar/1">Listar Produto</a></li>
            </ul>
        </li>
        <% }%>
        <% if(permissaoadm){ %>
        <li> Administração
            <ul>
                <li><a href="/movimento/abrir">Abrir movimento</a></li>
                <li><a href="/movimento/fechar">Fechar movimento</a></li>
                <li><a href="/usuario/cadastrar">Criar usuário</a></li>
                <li><a href="/usuario/listar/1">Listar usuário</a></li>
                <li><a href="/categoria/criar">Criar Categoria</a></li>
                <li><a href="/categoria/listar/1">Listar Categoria</a></li>
            </ul>
        </li>
        <% }%>
        <% if(user){ %>
            <li> Conta
                <ul>
                    <li><a href="/login/logoff">Sair</a></li>
                </ul>
            </li>
        <% } else { %>
        <li><a href="/login">login</a></li>
        <% } %>

    </ul>
</nav>