.leftslide{
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, var(--cor-secoes),var(--cor-planofundo));
}

.centerposition{
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    background: var(--cor-planofundo);
    display: flex;
    flex-direction: row;
}

.rightslide{
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, var(--cor-secoes),var(--cor-planofundo));
}

.botoes{
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    width: 95%;
}

.pedidossementrega{
    box-sizing: border-box;
    width: 50%;
}
.pedidoscomentrega{
    box-sizing: border-box;
    width: 50%;
}