.main_criarpedido{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.divflexvertical{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.cliente_criarpedido{
    box-sizing: border-box;
    display: block;
    width: 35%;
    height: 80%;
    margin: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.produto_criarpedido{
    box-sizing: border-box;
    display: block;
    width: 35%;
    height: 80%;
    margin: 10px;

}
.acoes_criarpedido{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}