.main_criarpedido{
    
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.divflexvertical{/* Para inserir objetos no lado diretio(linha). Por padrão div coloca objeto uma abaixo do outro(coluna)*/
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}


.cliente_criarpedido{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    padding: 1% 2% 1% 1%;
    

    box-sizing: border-box;
    display: block;
    /*width: 35%;*/
    height: 600px;
    margin: 0 auto;
    border: 1px solid;
    
}
.produto_criarpedido{
    background-color: #FAFAFA;
    border-radius: 3px;
    padding: 1%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    height:600px !important ;

    box-sizing: border-box;
    display: block;
    width: 55%;
    margin: 0 auto;
    border: 1px solid;
}

.botao_produto_criarpedido_css{
    width: 98%;
}


.divlistaproduto_criarpedido{
    width: 100%;
    height: 70%;
}

.idlistproduto_criarpedido{
    display: none;
}

.botaomenos{
    display: block;
    box-sizing: border-box; 
    margin: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;

    border-color: var(--cor-botao);
    background-color:  var(--cor-botao);
    color: var(--cor-botao-texto);

    text-decoration: none;	
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


    transition: 300ms;
   	&:hover{
        border-color:var(--cor-botao-foco);
        background-color: var(--cor-botao-foco);
		color: var(--cor-botao-foco-texto);
	}
}



.inputqtd{/* table produtos - tabela preenchida via JS -  validar com Leonardo */
    background: var(--cor-secao);
}

.registroproduto{ /* table produtos - tabela preenchida via JS -  validar com Leonardo */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    
}
.elementoinvisivel{ /* Para guarda valores para o js capturar*/
    display: none;
}

.img_criarpedido{/* table produtos - tabela preenchida via JS -  validar com Leonardo */
    border-radius: 50%;
    width: 30%;
}

.inputtam{ /* table produtos - tabela preenchida via JS -  validar com Leonardo */
    width: 70%;
}

.labelsimples{
    display: block;
    align-items: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.clientedados_criarpedido{
    width: 100%;
    height: 70%;
    box-sizing: border-box;

}


.botaoselecionar{ /* Como não tinha eu fiz, mas pode fazer no style e remover daqui depois*/
    display: block;
    box-sizing: border-box; 
    margin: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 7px;
    padding: 10px;

    border-color: green;
    background-color:  yellow;
    color: green;

    text-decoration: none;	
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


    transition: 300ms;
   	&:hover{
        border-color:green;
        background-color: green;
		color: white;
	}
}

.botaoremover{
    display: block;
    box-sizing: border-box; 
    margin: 5px;
    width: 100%;
    border: 1px solid;
    border-radius: 7px;
    padding: 10px;

    border-color:green;
    background-color: green;
	color: white;

    text-decoration: none;	
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


    transition: 300ms;
   	&:hover{
        border-color: green;
        background-color:  yellow;
        color: green;
	}
}

.destaqueobjeto{
    display: block;
    position: absolute;
    margin: 0;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: black;
    background-color:yellow;
    
    border: 1px solid;
    border-color: red;
    z-index: 3;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.dialog{
    display: block;
    position: absolute;
    margin: 0 auto;
    z-index: 5;
    width: 80%;
    height: 40%;
    border-radius: 0.4em;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.1em;
    text-align: center;
    justify-content: center;
    transition: 3000ms;
    h1{
        width: 100%;
        height: 90%;
        margin:0 auto;
        text-align: center;
        align-content: center;
    }
    button{
        display: block;
        box-sizing: border-box; 
        margin: 0 auto;
        
        border: 1px solid;
        border-radius: 0.2em;
        width: 95%;
        height: 10%;
        text-decoration: none;	
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 0.8em;
        transition: 300ms;
    }
}


.sucesso-dialog{
    border-color:green;
    background-color: rgb(81, 153, 81);
    color: white;
    button{
        border-color:white;
        background-color: rgb(81, 153, 81);
        color: white;
        ;
        &:hover{
            border-color: green;
            background-color:  white;
            color: green;
        }
    }    
}


.exclamacao-dialog{
    border-color: yellow;
    background-color: rgb(236, 236, 150);
    color: black;
    button{
        border-color:black;
        background-color: rgb(236, 236, 150);
        color:black
        ;
        &:hover{
            border-color:  yellow;
            background-color: black;
            color: yellow;
        }
    }    
}

.erro-dialog{
    border-color:red;
    background-color: rgb(158, 65, 65);
    color: white;
    button{
        border-color:white;
        background-color: rgb(158, 65, 65);
        color: white;
        ;
        &:hover{
            border-color:red;
            background-color:  white;
            color: red;
        }
    }    
}

.pedidoregistradoclass{
    display: block;
    width: 10%;
    background-color: green;
    text-align: center;
}

.pedidonaoregistradoclass{
    display: block;
    width: 10%;
    text-align: center;
}