footer{
	background: var(--cor-footer);
	/*background: linear-gradient(to right, var(--cor-footer), var(--cor-secoes));*/
	color: white;		
}

.details{
	display: flex;
	flex-direction: row;
	min-height: 1000px;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
}

.footer-logo {
	box-sizing: border-box;
	width: 20%;
	height: 100%;
	img{
		width: 300px;
	}
}
.footer-detail{
	box-sizing: border-box;
	width: 80%;
	height: 100%;
}

.contents-footer{
		display: flex;
		box-sizing: border-box;
	div {
			margin-right: 100px;
	}

	a {
		text-decoration: none;
		color: white;
		& :visited, :link , :hover, :active{
			text-decoration: none;
			color: white;
		}

	}
	hr {
		margin-top: 100px;
		border: 1px dotted var(--cor-planofundo);
		margin-bottom: 100px;
	}
	ul{
		margin-right: 20px;
		font-size: 20px;
	}
	li{
		font-size: 15px;
		font-style: italic;
	}
}

.copyright {
	display: block;
	height: 40px;
	background: var(--cor-planofundo);
	color: var(--cor-texto);
	align-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
