
.formcontentsright {
    width: fit-content;
    margin: 5px;
    margin-left: 10px;
}

.divflexvertical{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.clientediv{
    box-sizing: border-box;
    display: block;
    width: 35%;
    height: 70%;
    margin: 30px;
}
.produtodiv{
    box-sizing: border-box;
    display: block;
    width: 35%;
    height: 70%;
    margin: 30px;

}

.inputquantidade {
    width: 15px;
}

.inputpreco {
    width: 50px;
}