.homecontents{
    width: 100%;
}  
 
.home{
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    align-content: center;

    background-size:cover;
    img{
        width: 300px;
    }
}

