<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/assets"); %>
    <!-- Se quiser fazer um CSS personalizado desta pagina-->
    <link href="/public/assets/css/criarpedido.css" rel="stylesheet"/> 
    <title>Criar pedido</title>  <!--Não se esqueça de alterar o nome do titulo-->
</head>
<body>
    <div class="main_criarpedido">
        <%- include("includes/menubar"); %>
        <div class="div_unica">
            <div class="painel_produtos"></div>
            <div class="divflexvertical">
                <div class="div_form cliente_criarpedido">
                    <span class ="elementoinvisivel usuarioselecionado_criarpedido" >-1</span>
                    <a href="#" class="botao buscarusuario_criarpedido">Buscar cliente</a>

                </div>
                <div class="div_form produto_criarpedido">
                    <span class ="elementoinvisivel id_pedido" >-1</span>
                    <span class ="elementoinvisivel ultimoproduto_criarpedido">-1</span>
                    <span class ="elementoinvisivel produtoselecionado_criarpedido">-1</span>
                    <a href="#" class="botao buscarproduto_criarpedido">Buscar produto</a>
                    <div class="divlistaproduto_criarpedido"></div>
                    <div class="acoes_criarpedido">
                        <a href="#" class="botao cancelar_criarpedido">Cancelar</a>
                        <a href="#" class="botao cancelar_criarpedido">Criar Pedido</a>
                    </div>
                </div>
            </div>
           
    </div>
    </div>
    <%- include("includes/footer"); %>
</body>
</html>
