<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/assets"); %>
    <!-- Se quiser fazer um CSS personalizado desta pagina-->
    <!-- <link href="/public/assets/css/meucsspersonalizado.css" rel="stylesheet"/> -->
    <title>titulo</title>  <!--Não se esqueça de alterar o nome do titulo-->
</head>
<body>
    <div class="main">
        <%- include("includes/menubar"); %>
        <div class="contents">
            <!--Coloque seu conteúdo novo           -->
        </div>
    </div>
    <%- include("includes/footer"); %>
</body>
</html>