<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alguma coisa</title>
</head>
<body>
    <h1><%= nomecompleto %></h1>
    <% if(locals.idade) { %>
    <h1> <%= idade %> </h1>
    <% } else{ %>
    <h1> Sem idade </h1>
    <% } %>
</body>
</html>